{{#if usuario }}
    <h1>Bienvenido {{usuario}} <a href="/logout"><button id="deslogeoBtn">Logout</button></a></h1>
{{/if}}

<h2>Formulario de Carga</h2>
    <form id="productForm">
        <label>Titulo</label>
        <input name="title" id="formTitle">
        <label>Precio</label>
        <input name="price" id="formPrice">
        <label>Url Imagen</label>
        <input name="thumbnail" id="formThumbnail">
        <button type="submit">Enviar</button>
    </form>

<div id="errorForm" style="color: red">

</div>

<div id="loadedProducts" style="margin-top: 30px">

</div>

<div id="messagesCenter">
    <h2>Centro de mensajes</h2>
    <label style="margin-right: 10px">Ingrese su correo</label>
    <input type="email" id="email" placeholder="example@domain.com"><span id="errorEmail" style="margin-left: 5px; color: red"></span>
    <div id="chatHistory"> </div>
    <input type="text" id="chatBox" placeholder="Escribe un mensaje..."><button id="send">Enviar</button>
</div>

<script src="/socket.io/socket.io.js"></script>
<script type="module" src="../index.js"></script>