<h1>LOGIN</h1>
    <form id="loginForm" action="/" method="post">
        <label>Ingrese su nombre</label>
        <input name="user" id="formUser" required="true">
        <button type="submit">Enviar</button>
    </form>