<h1>Formulario de Carga</h1>
    <form id="productForm" action="/productos" method="post">
        <label>Titulo</label>
        <input name="title">
        <label>Precio</label>
        <input name="price">
        <label>Url Imagen</label>
        <input name="thumbnail">
        <button>Enviar</button>
    </form>
    <form id="productForm" action="/productos" method="get">
        <button>Consultar Productos</button>
    </form>